body {
   padding: 0;
   margin: 0;
   background-color: #BCDAEC;
   font-family: 'Ubuntu Mono', monospace;
}

form {
   width: 50%;
   height: 80vh;
   overflow-y: scroll;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 50px;
   background-color: white;
   padding-left: 24px;
   padding-right: 24px;
   padding-top: 34px;
   padding-bottom: 34px;
   border-radius: 6px;
}

input[type=text],
select {
   width: 100%;
   /* Full width */
   padding: 12px;
   /* Some padding */
   border: 1px solid #ccc;
   /* Gray border */
   border-radius: 4px;
   /* Rounded borders */
   box-sizing: border-box;
   /* Make sure that padding and width stays in place */
   margin-top: 6px;
   /* Add a top margin */
   margin-bottom: 16px;
   /* Bottom margin */
   resize: vertical
      /* Allow the user to vertically resize the textarea (not horizontally) */
}

button {
   background-color: #BCDAEC;
   border: none;
   border-radius: 20px;
   padding: 12px 20px;
   color: black;
   font-family: 'Ubuntu Mono', monospace;
   cursor: pointer;
}

button:hover {
   background-color: #c9dfec;
}

.prediction_text {
   color: black;
   
}